<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="left">
        <a class="navbar-brand" href="#">HOME </a>|
        <a class="navbar-brand" href="/lettersstamped">&nbsp;Letters (Stamped) </a>|
        <a class="navbar-brand" href="/lettersmetered">&nbsp;Letters (Metered) </a>|
        <a class="navbar-brand" href="/envelopes">&nbsp;Large Envelopes (Flats) </a>|
        <a class="navbar-brand" href="/firstclasspackage">&nbsp;First-Class Package Service—Retail </a>|
    </div>
</nav>